:root {
  --light-background-color: rgba(186, 252, 239, 0.2);
  --light-green-color: rgb(204, 252, 237);
  --header-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
}
nav {
  background: rgba(241, 255, 235, 0.718);
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  position: fixed;
}

nav li a:hover {
  color: #2b7f06 !important;
  background: #c4e8b4 !important;
  border-radius: 4px;
  text-decoration: underline;
}
.dropdown-menu {
  background: rgba(241, 255, 235, 0.718);
  backdrop-filter: blur(4px);
}
.logo {
  width: 100px;
}

.hero {
  background: var(--light-background-color);
  padding: 90px 15px;
}
.hero p {
  font-size: 36px;
  font-family: var(--paragraph-font);
  color: #272343;
  margin-bottom: 0;
}

.content-section {
  padding: 80px 15px;
}
.hello-cat {
  max-width: 100px;
}
.content-section h1 {
  font-family: var(--header-font);
  font-size: 58px;
  line-height: 1.5;
  color: #272343;
}
.content-section h1 span {
  font-size: 38px;
}
.content-section h2 {
  font-size: 26px;
  font-family: var(--paragraph-font);
  font-weight: 500px;
}

.content-section p {
  font-size: 20px;
}
.content-section p span {
  font-size: 14px;
}

h1 {
  font-family: var(--header-font);
  font-size: 72px;
  color: #272343;
}
h2 {
  font-size: 24px;
  font-family: var(--paragraph-font);
  font-weight: 500px;
  margin: 30px 0;
}
h3 {
  font-family: var(--header-font);
  font-size: 36px;
}
h4 {
  font-family: var(--header-font);
  font-size: 30px;
  line-height: 2;
  color: #272343;
}

p {
  font-family: var(--paragraph-font);
}
footer,
.coder-cat {
  background-color: rgb(247, 255, 244);
}
footer i {
  font-size: 18px;
}
footer .coding-icon {
  font-size: 16px;
}

footer {
  padding: 24px 48px;
  margin-top: 48px;
}

.social-media,
.contact-links {
  color: #123901;
  background: rgb(247, 255, 244);
  transition: all 100ms ease-in-out;
}
.contact-links:hover {
  border: 2px solid #123901;
}
.social-media a,
.contact-links a {
  text-decoration: none;
  font-family: var(--paragraph-font);
  font-size: 14px;
  line-height: 1.5;
  color: #272343;
}

.social-media a:hover,
.contact-links a:hover {
  color: #272343;
  text-decoration: underline;
}

.contact-links {
  margin: 20px;
  padding: 20px;
  border-radius: 50%;
}

.contact-links i {
  font-size: 40px;
}

.btn-black {
  padding: 20px 20px;
  background: rgb(45, 43, 43);
  color: var(--light-green-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-black:hover {
  background: black;
  color: var(--light-green-color);
}
.btn-black:focus {
  background: black;
  color: var(--light-green-color);
}
.btn-light-green:focus {
  color: #272343;
  background: var(--light-green-color);
}
.btn-learn-more:focus {
  border-color: #3e3768aa;
}

.btn-light-green {
  background: var(--light-green-color);
  border-color: var(--light-green-color);
  padding: 15px 15px;
  color: #272343;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-light-green:hover {
  color: #272343;
  background: var(--light-green-color);
  font-weight: 500;
}

.project-description {
  padding: 70px 50px 0;
}

.project-img {
  padding: 10px 10px;
  background-color: var(--light-background-color);
}

.btn-learn-more {
  border-color: #3e3768aa;
  font-size: 12px;
  font-family: sans-serif;
}
@media (max-width: 960px) {
  nav ul {
    margin-right: 10px;
  }
  nav li {
    margin-left: 15px;
  }
  .logo {
    height: 85%;
  }

  .hero {
    padding: 75px 7px;
  }
  .coder-cat {
    background: none;
  }

  h1,
  .content-section h1 {
    font-size: 40px;
    line-height: 2;
  }

  h2 {
    font-size: 20px;
  }

  footer {
    padding: 10px 30px;
    margin: 0;
  }
  .social-media {
    text-align: center !important;
  }

  .content-section p {
    font-size: 16px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .my-photo {
    width: 50%;
  }
  .content-section {
    padding: 10px 30px;
  }
  .kitten {
    width: 100px;
  }
}
