:root {
  --light-background-color: rgba(186, 252, 239, 0.2);
  --light-green-color: rgb(204, 252, 237);
  --header-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
}
.hero {
  background: var(--light-background-color);
  padding: 150px 15px;
}
.hero p {
  font-size: 36px;
  font-family: var(--paragraph-font);
  color: #272343;
  margin-bottom: 0;
}
h1 {
  font-family: var(--header-font);
  font-size: 72px;
  line-height: 1.5;
  color: #272343;
}
h2 {
  font-size: 24px;
  font-family: var(--paragraph-font);
  font-weight: 500px;
  margin: 30px 0;
}
h3 {
  font-family: var(--header-font);
  font-size: 36px;
}
p {
  font-family: var(--paragraph-font);
}
.btn-black {
  padding: 20px 20px;
  background: rgb(45, 43, 43);
  color: var(--light-green-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-black:hover {
  background: black;
  color: var(--light-green-color);
}

.btn-light-green {
  background: var(--light-green-color);
  border-color: var(--light-green-color);
  padding: 15px 15px;
  color: #272343;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-light-green:hover {
  color: #272343;
  background: var(--light-green-color);
  font-weight: 500;
}

.project-description {
  padding: 70px 50px 0;
}

.coder-cat {
  padding: 10px 10px;
  background-color: var(--light-background-color);
}

.btn-learn-more {
  border-color: #3e3768aa;
  font-size: 12px;
  font-family: sans-serif;
}
@media (max-width: 960px) {
  .hero {
    padding: 75px 7px;
  }
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
